.uuid-generator-container {
  max-width: 800px;
  margin: 0 auto;

  .content-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    button {
      margin-bottom: 20px;
    }

    .result-item {
      min-width: 550px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
mat-icon {
  cursor: pointer;
}
