<app-menu></app-menu>
<div class="content-container">
  <div class="hash-generator-container content-container-inner">
    <div class="header-section">
      <h1 class="page-title">Hash Generator</h1>
      <h3 class="page-description">Generate cryptographic hashes using MD5, SHA1, SHA256, and SHA512 algorithms</h3>
    </div>

    <div>
      <form [formGroup]="formGroupFrmHashGenerator">
        <mat-form-field style="width: 100%">
          <mat-label>Text to Hash</mat-label>
          <textarea matInput formControlName="inputText" rows="4" placeholder="Enter text to generate hash..."></textarea>
        </mat-form-field>

        <mat-form-field style="width: 200px">
          <mat-label>Algorithm</mat-label>
          <mat-select formControlName="selectedAlgorithm">
            <mat-option value="all">All Algorithms</mat-option>
            @for (algorithm of hashAlgorithms; track algorithm.value) {
            <mat-option [value]="algorithm.value">{{ algorithm.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!formGroupFrmHashGenerator.valid" (click)="generateHashes()">
          <mat-icon>refresh</mat-icon>
          Generate Hash
        </button>
      </form>

      @if (hasGeneratedHashes) {
      <div class="hash-results">
        @for (algorithm of hashAlgorithms; track algorithm.value) { @if (generatedHashes[algorithm.value]) {
        <div class="result-item">
          <h3>{{ algorithm.label }}:</h3>
          <div class="hash-value-container">
            <span class="hash-value">{{ generatedHashes[algorithm.value] }}</span>
            <mat-icon (click)="copyToClipboard(generatedHashes[algorithm.value])" class="copy-icon">content_copy</mat-icon>
          </div>
        </div>
        } }
      </div>
      }
    </div>
  </div>
</div>
