.hash-generator-container {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  .hash-results {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
