<app-menu></app-menu>
<div class="content-container">
  <div class="secret-message-read-container content-container-inner">
    <div class="header-section">
      <h1 class="page-title">Secret Message Read</h1>
      <h3 class="page-description">Read your secret message</h3>
    </div>
    <div class="secret-message-read-header">
      <h3>
        Your secret message is encrypted and can be seen only once.
        {{ durationInSeconds ? 'You message will desapear in ' + durationInSeconds + ' seconds' : '' }}
      </h3>
      <hr />
      <h1>
        {{ message }}
      </h1>
    </div>
  </div>
</div>
