<div class="hamburger-menu">
  <button class="menu-toggle" (click)="toggleMenu($event)">
    <span class="hamburger-icon">☰</span>
  </button>

  <div class="menu-items" [class.active]="isMenuOpen">
    <a routerLink="/" (click)="closeMenu()">Home</a>
    @for (item of menuItems; track item.route) {
    <a [routerLink]="item.route" (click)="closeMenu()">{{ item.label }}</a>
    }
  </div>
  <button mat-icon-button (click)="toggleTheme()">
    @if (isDarkTheme) {
    <mat-icon>light_mode</mat-icon>
    } @else {
    <mat-icon>dark_mode</mat-icon>
    }
  </button>
</div>
