<div class="hamburger-menu">
  <button class="menu-toggle" (click)="toggleMenu($event)">
    <span class="hamburger-icon">☰</span>
  </button>

  <div class="menu-items" [class.active]="isMenuOpen">
    <a routerLink="/">Home</a>
    <a routerLink="/time-converter">Time Converter</a>
    <a routerLink="/password-generator">Password Generator</a>
    <a routerLink="/uuid-generator">UUID Generator</a>
    <a routerLink="/circuit-game">circuit Game</a>
  </div>
  <button mat-icon-button (click)="toggleTheme()">
    @if (isDarkTheme$ | async) {
    <mat-icon>light_mode</mat-icon>
    } @else {
    <mat-icon>dark_mode</mat-icon>
    }
  </button>
</div>
