<div class="game-invite-accept-container">
  @if (playerName) {
  <h1>Game invite accepted</h1>
  <p>Player name: {{ playerName }}</p>
  <p>Player password: {{ playerPassword }}</p>
  <button
    style="margin-top: 20px"
    [routerLink]="['/battleship-game-play']"
    [queryParams]="{ battleshipGameId: battleshipGameId, playerId: playerId, playerPassword: playerPassword }"
    mat-raised-button
    color="primary"
  >
    Join game
  </button>
  } @else {
  <button mat-raised-button color="primary" (click)="acceptGameInvite()">Accept the game invite</button>
  }
</div>
