<app-menu></app-menu>
<div class="content-container">
  <div class="password-generator-container content-container-inner">
    <div class="header-section">
      <h1 class="page-title">Password Generator</h1>
      <h3 class="page-description">Create secure passwords with customizable length and special characters</h3>
    </div>

    <form [formGroup]="formGroupFrmPasswordGenerator">
      <mat-form-field style="width: 100px">
        <mat-label>Length</mat-label>
        <input matInput type="number" formControlName="length" />
      </mat-form-field>

      <mat-checkbox formControlName="includeSpecialCharacters"> Include special characters </mat-checkbox>
    </form>
    <button mat-raised-button color="primary" [disabled]="!formGroupFrmPasswordGenerator.valid" (click)="generatePassword()">
      Generate Password
    </button>

    <div style="min-height: 100px; display: flex; align-items: center; justify-content: center; gap: 10px">
      <h1>{{ generatedPassword }}</h1>
      @if (generatedPassword) {
      <mat-icon (click)="copyToClipboard(generatedPassword)">content_copy</mat-icon>
      }
    </div>
  </div>
</div>
