<app-menu></app-menu>
<div class="content-container">
  <div class="game-container content-container-inner">
    <div class="header-section">
      <h1 class="page-title">Circuit Game</h1>
      <h3 class="page-description">Test your precision by drawing perfect circles and completing circuits</h3>
    </div>

    <canvas #gameCanvas width="600" height="400"></canvas>
    <div class="controls">
      <button mat-raised-button color="primary" (click)="startGame()" [disabled]="isGameStarted">Start Game</button>
      @if (isGameStarted) {
      <p>Game started. Complete the circuit to get the accuracy score.</p>
      } @if (accuracy !== null) {
      <div class="accuracy">
        <p>Circle Accuracy: {{ accuracy }}%</p>
      </div>
      }
    </div>
  </div>
</div>
