<div class="battleship-container">
  @if (!isGameCreated) {
  <form [formGroup]="formGroup" class="flex flex-col gap-4">
    <mat-form-field>
      <mat-label>Name 1</mat-label>
      <input matInput formControlName="name1" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name 2</mat-label>
      <input matInput formControlName="name2" />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="createGame()">Create game</button>
  } @else {
  <h2 style="margin-bottom: 100px !important">Game is created</h2>
  <div style="margin-bottom: 30px" class="flex flex-col gap-4 justify-center items-center">
    <h3>Copy the invite link and send it to your opponent</h3>
    <button style="margin-top: 10px; max-width: 150px" mat-raised-button color="primary" (click)="copyInvite()">
      Copy invite
    </button>
  </div>
  <div class="flex flex-col gap-4 justify-center items-center">
    <button
      style="margin-top: 10px; max-width: 150px"
      mat-raised-button
      color="primary"
      [routerLink]="['/battleship-game-play']"
      [queryParams]="{ battleshipGameId: battleshipGameId, playerId: playerId, playerPassword: playerPassword }"
    >
      Join game
    </button>
  </div>
  }
</div>
