@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-icons/iconfont/material-icons.css';

// Define light and dark themes
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
    ),
  )
);

// Default to light theme
.light-theme {
  @include mat.all-component-colors($light-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  & {
    background-color: black;
  }

  p,
  h1,
  h2,
  h3,
  span,
  mat-icon {
    color: white;
  }
}

html,
body {
  width: 100%;
  height: 100vh;
}
body {
  margin: 0;
  font-family: Arial, 'Helvetica Neue', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

p {
  margin: 0 !important;
}

button {
  margin-left: 10px;
}

h1,
h2 {
  margin: 0 !important;
}
